/* CSS Header  */

 .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    flex-direction: column;
      text-align: center;
    }
} 

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
     border: solid rgba(0, 0, 0, .15);
     border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
} 

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
   fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y:hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
} 

 .bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.form-control-dark {
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25); 
} 
   
.text-small {
    font-size: 85%;
}
  
.dropdown-toggle:not(:focus) {
    outline: 0;
}

/* CSS Cover Home Page */ 

body {

    background-image: url(/image/rm222-mind-16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace; 
    height: 100%;
    margin: 0;
    padding: 0;
}

.p_header{
    padding-top: 1px;
    font-weight: bold;
    font-size: 25px;
    color: #136ef2;
}

.nav {
    max-width: 100%;
    font-size: 20px;
    font-weight: bold;  
    color: #141514;
    text-align: center;                        
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-item:hover {
    color: #3fc9c5;
    text-shadow: 0 0 25px #7c4dff, 0 0 50px #7c4dff; 
}

.container {
    max-width: 100%;
    width: 80%;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

#typewriter {
    font-size: 20px;
    font-weight: bold;
    white-space: pre-line;
    border-right: 1px solid rgb(12, 12, 12);
    animation: typing 5 steps(22) 1s 1 normal both, blink 0.75s step-end infinite;
    padding: 10px;
    padding-top: 10px;
    max-width: 100%;
    margin: auto;
  }

.typewriter {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 24ch; /* jumlah karakter */
    border-right: 1px solid rgb(77, 199, 239);
    animation: typing 5 steps(22) 1s 1 normal both, blink 0.75s step-end infinite;
}

@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: #111111; }
}

.p_home {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #080808;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 300px;
}

.img_home {
    /* border: 1px solid #222121; */
    height:450px;
    width: 400px;
    margin-top:10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 100px;
    /* border-radius: 60%; */

} 

.p_aboutme{
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    padding-top: 100x;
    margin: auto;
}

.p_aboutme:hover {
    color: #7c4dff;
    text-shadow: 0 0 25px #7c4dff, 0 0 50px #7c4dff;
}

.p_home_aboutMe {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #141514;
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 100%;
    margin: 0 auto;
}

.p_readmore {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}


.h1 {
    font-weight: bold;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.h1:hover {
    color: #7c4dff;
    text-shadow: 0 0 25px #7c4dff, 0 0 50px #7c4dff;
}

.row {
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    padding-top: 50px;
}

.img-fluid {
    margin-top: 20px;
    height: auto;
    width: 110px; 
}

.img-fluid:hover {
    transform: scale(1.8); /* efek zoom saat hover */
    transition: transform 0.3s ease; /* durasi efek zoom */
}

html {
    scroll-behavior: smooth;
  }

/* Basic styling */
.about-section {
    text-align: center;
    padding: 40px;
    background-color: #d6f0ff;
    font-family: 'Courier New', monospace;
}
  
 button {
    background: none;
    border: none;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}
  
/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
  
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    text-align: left;
    font-family: Arial, sans-serif;
}
  
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  

/* Konten modal */
.modal-content {
    background-color: #101010;
    background-image: url(/image/rm222-mind-16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    border-radius: 20px;
    position: relative;
}
  
/* Tombol close */
.close {
    position: absolute;
    top: 10px; right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0b0b0b;
    cursor: pointer;
}
  
/* Responsive iframe */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
  
.video-container video,
.video-container iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.h2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #2254e9;
    text-align: center;

}

.pModal {
    font-size: 20px;
    color:  #2254e9;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}


.pCertificate {
    font-size: 25px;
    font-weight: bold;
    color: #131314;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

/* ---- My career Timeline ---- */

.timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
    width: 50%;
}

.timeline-item.left {
    left: 0;
    justify-content: flex-end;
}

.timeline-item.right {
    left: 50%;
    justify-content: flex-start;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item.left::before {
    right: -10px;
}

.timeline-item.right::before {
    left: -10px;
}

.content {
    background-color: #00e6fa;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.content img {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.content .text {
    max-width: 500px;
    margin: 0 auto;
    padding: 90px;
    font-weight: bold;
    text-align: left;
}

.content h3 {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: bold;
}

.content p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

/* Cert CSS */
    
.cert img {
   
    width: 48%;
    height: 0 auto;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    float: right;
    gap: 30px;
}

.img8 {
    width: 300px;
    height: 226px;
}

.cert img:hover {
    transform: scale(1.8); /* efek zoom saat hover */
    transition: transform 0.3s ease; /* durasi efek zoom */
}


/* Animasi Certificates Bergerak Pojok kiri atas*/

.p_dwinugroho {
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
    font-weight: bold;
    height: 200px;
    width: 400px;
    margin-left: 20px;
    margin-top: 2px;
    position: absolute;
    animation: gerakKanan 3s infinite alternate ease-in-out;
}

@keyframes gerakKanan {
    from {
        left: 0;
    }
    to {
        left: 200px;
    }
}

.container-card-cert {
    max-width: 100%;
    width: 80%;
    padding-right: 0;
    padding-left: 0;

    justify-content: flex-end;
    text-align: center;
    
}


/* Project CSS */
.project img {
   
    width: 45%;
    height: 0 auto;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    float: right;
    gap: 30px;
}

.img:hover {
    transform: scale(1.5); /* efek zoom saat hover */
    transition: transform 0.3s ease; /* durasi efek zoom */
}

/* Project Modal Simple E-comerce */

.modal2 {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
  
.modal-content2 {
    background-color: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    text-align: left;
    font-family: Arial, sans-serif;
}
  
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
/* Konten modal */
.modal-content2 {
    background-color: #101010;
    background-image: url(/image/rm222-mind-16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
}
  
/* Tombol close */
.close {
    position: absolute;
    top: 10px; right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0b0b0b;
    cursor: pointer;
}
  
/* Responsive iframe */
.video-container2 {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container2 video,
.video-container2 iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.h2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #2254e9;
    text-align: center;

}

.pModal2 {
    font-size: 20px;
    color:  #2254e9;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}


/* Project Modal API Backend */

.modal3 {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}
  
.modal-content3 {
    background-color: #fff;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    text-align: left;
    font-family: Arial, sans-serif;
}
  
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
/* Konten modal */
.modal-content3 {
    background-color: #101010;
    background-image: url(/image/rm222-mind-16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;
    padding-top: 5px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto; 
    border-radius: 20px;
    position:relative;
}
  
/* Tombol close */
.close {
    position: absolute;
    top: 20px; 
    right: 20px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #060505;
    cursor: pointer;
}
  
/* Responsive iframe */
.video-container3 {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container3 video,
.video-container3 iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.h2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #2254e9;
    text-align: center;

}

.pModal3 {
    font-size: 20px;
    color:  #2254e9;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}


/* Footer */

.container-footer {
    max-width: 100%;
    width: 0 auto;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    text-align: center;
}
.p_footer{
    font-size: 15px;
    padding: 20px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

