/* CSS Contact */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
    flex-direction: column;
    text-align: center;
  }
} 

body {
  background-image: url(/image/rm222-mind-16.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
}


.nav {
  max-width: 100%;
  display: flex;
  margin: auto;
  font-size: 18px;
  font-weight: bold;  
  color: #141514;
  text-align: center;                        
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 30px;
}

.nav-item:hover {
  color: #3fc9c5;
  text-shadow: 0 0 25px #7c4dff, 0 0 50px #7c4dff; 
}

.container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    justify-content: flex-end;
    text-align: center;
}


/* Contact Form */

.h2 {
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 20px;
}

.icon-social {
  display: flex;
  justify-content: center; /* posisi di tengah horizontal */
  gap: 30px; /* jarak antar ikon */
  margin-top: 3px;
}
.img {
  row-gap: 20px;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
  padding-bottom: 40px;
  height: auto;
  width: 50px; 
}

.p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.form {
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.button {
  max-width: 100%;  
}


/* Form Mobile */
.container {
  padding: 30px; /* Contoh padding */
}

/* Media Query untuk layar mobile (misalnya, lebar layar 768px atau kurang) */
@media (max-width: 768px) {
  .container {
    padding-left: 15px;         /* Tambahkan padding di kiri */
    padding-right: 15px;        /* Tambahkan padding di kanan */
                                /* Atau gunakan padding secara keseluruhan, misalnya: */
                                /* padding: 15px; */
  }

/* Anda juga bisa menambahkan padding pada elemen form group jika menggunakan Bootstrap atau sejenisnya */
.form {                       /* Sesuaikan dengan class form group Anda */
      padding-left: 5px;
      padding-right: 5px;
 }

/* Atau sedikit padding pada input/textarea jika perlu */
input[type="text"],
input[type="email"],
textarea {
      padding-left: 8px;        /* Contoh padding kiri */
      padding-right: 8px;       /* Contoh padding kanan */
                                /* Sesuaikan padding vertikal jika perlu */
      padding-top: 8px;
      padding-bottom: 8px;
  }
}